<?xml version="1.0" ?>

<!-- 3D scene -->
<plugin filename="GzScene3D" name="3D View">
  <ignition-gui>
    <title>3D View</title>
    <property type="bool" key="showTitleBar">false</property>
    <property type="string" key="state">docked</property>
  </ignition-gui>

  <engine>ogre2</engine>
  <scene>scene</scene>
  <camera_pose>6 -2 1.5 0 0.35 2.15</camera_pose>
</plugin>

<!-- Play / pause / step -->
<plugin filename="WorldControl" name="World control">
  <ignition-gui>
    <title>World control</title>
    <property type="bool" key="showTitleBar">false</property>
    <property type="bool" key="resizable">false</property>
    <property type="double" key="height">72</property>
    <property type="double" key="width">121</property>
    <property type="double" key="z">1</property>

    <property type="string" key="state">floating</property>
    <anchors target="3D View">
      <line own="left" target="left"/>
      <line own="bottom" target="bottom"/>
    </anchors>
  </ignition-gui>

  <play_pause>true</play_pause>
  <step>true</step>
  <start_paused>true</start_paused>
  <service>/world/station/control</service>
  <stats_topic>/world/station/stats</stats_topic>

</plugin>

<!-- Time / RTF -->
<plugin filename="WorldStats" name="World stats">
  <ignition-gui>
    <title>World stats</title>
    <property type="bool" key="showTitleBar">false</property>
    <property type="bool" key="resizable">false</property>
    <property type="double" key="height">110</property>
    <property type="double" key="width">290</property>
    <property type="double" key="z">1</property>

    <property type="string" key="state">floating</property>
    <anchors target="3D View">
      <line own="right" target="right"/>
      <line own="bottom" target="bottom"/>
    </anchors>
  </ignition-gui>

  <sim_time>true</sim_time>
  <real_time>true</real_time>
  <real_time_factor>true</real_time_factor>
  <iterations>true</iterations>
  <topic>/world/station/stats</topic>

</plugin>

<!-- Translate / rotate -->
<plugin filename="TransformControl" name="Transform control">
  <ignition-gui>
    <title>Transform control</title>
    <anchors target="3D View">
      <line own="left" target="left"/>
      <line own="top" target="top"/>
    </anchors>
    <property key="resizable" type="bool">false</property>
    <property key="width" type="double">250</property>
    <property key="height" type="double">50</property>
    <property key="state" type="string">floating</property>
    <property key="showTitleBar" type="bool">false</property>
    <property key="cardBackground" type="string">#03a9f4</property>
  </ignition-gui>
</plugin>

<!-- Insert simple shapes -->
<plugin filename="Shapes" name="Shapes">
  <ignition-gui>
    <anchors target="Transform control">
      <line own="left" target="right"/>
      <line own="top" target="top"/>
    </anchors>
    <property key="resizable" type="bool">false</property>
    <property key="width" type="double">250</property>
    <property key="height" type="double">50</property>
    <property key="state" type="string">floating</property>
    <property key="showTitleBar" type="bool">false</property>
    <property key="cardBackground" type="string">#03a9f4</property>
  </ignition-gui>
</plugin>

<!-- Inspector -->
<plugin filename="ComponentInspector" name="Component inspector">
  <ignition-gui>
    <property type="bool" key="showTitleBar">false</property>
    <property type="string" key="state">docked</property>
  </ignition-gui>
</plugin>

<!-- Entity tree -->
<plugin filename="EntityTree" name="Entity tree">
  <ignition-gui>
    <property type="bool" key="showTitleBar">false</property>
    <property type="string" key="state">docked</property>
  </ignition-gui>
</plugin>
